<div class="container">
  <br />
  <div  ng-repeat="deck in decks">
    <div class="row">
      <div class="col-lg-4">
        <img src="http://placehold.it/300/300" alt="placeholder" />
      </div>
      <div class="col-lg-8">
        <h2>{{ deck.deck_name }}</h2>
        <p>{{ deck.description }}</p>
        <div class="row">
          <div class="col-lg-2">
            <button class="btn btn-md btn-warning" ng-click="editDeck(deck.id)">Edit Deck</button>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-md btn-danger">Delete Deck</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <br />
  </div>
</div>
