<div class="col-lg-8">
  <div class="row">
    <div class="container">
      <a ui-sref="create" class="btn btn-md btn-success" ng-show="currentUser">Create Deck</a>
    </div>
  </div>
  <br />
  <div class="decks">
    <div class="row">
      <div class="col-lg-4" ng-repeat="deck in decks">
        <a ui-sref="deck({ id: deck.id })">
          <img src="http://placehold.it/300/300" alt="placeholder" />
          <h3 class="text-center">{{ deck.deck_name }}</h3>
          <h4 class="text-center">
            <span ng-if="deck.created_at >= deck.updated_at">
              Created <span am-time-ago="deck.created_at"></span>
            </span>
            <span ng-if="deck.updated_at > deck.created_at">
              Updated <span am-time-ago="deck.updated_at"></span>
            </span>
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="notification-header">
    <h2>Notifications</h2>
  </div>
  <hr />
  <br />
  <div class="notifications" ng-controller="SocketCtrl">
    <div ng-repeat="notif in notifications track by $index">
      <div class="well well-lg">
        {{ notif.user.first_name }}{{ notif.message }}<a ui-sref="deck({ id: notif.deck_id})">{{ notif.deck }}</a>
      </div>
    </div>
  </div>
</div>
