body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:hover{
  color: #00B7FF;
  text-decoration: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

well img {
  height: 100px;
  width: 100px;
}

.notifications {
  margin-top: -25px;
  height: 660px;
  overflow: scroll;
}

.notification-header {
  margin-top: -30px;
}

.decks {
  height: 600px;
  overflow: scroll;
}
