<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <form class="form-horizontal" ng-submit="login()">
        <div class="row">
          <input type="text" class="form-control" placeholder="Email Address" ng-model="user.email" />
        </div>
        <br />
        <div class="row">
          <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
        </div>
        <br />
        <div class="row">
          <p class="text-center">Not a member?  <a ui-sref="signup">Sign up here</a>!</p>
        </div>
        <br />
        <div class="col-lg-4 col-lg-offset-4">
          <div class="row">
            <button type="submit" class="btn btn-md btn-success">Log In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
