<div class="container" ng-init="getDeck()">
  <div class="row">
    <div class="col-lg-4">
      <img src="http://placehold.it/350/350" alt="placeholder"/>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <h2>{{ deck.deck_name }}</h2>
        <p>{{ deck.description }}</p>
        <h4>Created on {{ deck.created_at | date:"MM/dd/yyyy 'at' h:mma" }}</h4>
      </div>
      <div class="row">
        <a ui-sref="study({ id: deck.id })" class="btn btn-md btn-success">Study Deck</a>
      </div>
    </div>
  </div>
  <br />
  <h2>Sample Questions from this Deck</h2>
  <hr />
  <div class="row">
    <table class="table table-striped table-bordered">
      <thead>
        <th>Question</th>
        <th>Answer</th>
      </thead>
      <tbody>
        <tr ng-repeat="card in cards | limitTo:3">
          <td>{{ card.question }}</td>
          <td>{{ card.answer }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
