<div class="container" ng-init="getDeck()">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
        <h1>Edit Deck</h1>
      </div>
      <br />
      <hr />
      <br />
      <div class="row">
        <form class="form-horizontal" ng-submit="edit(newDeck.id)">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" class="form-control" placeholder="Deck Name" ng-model="newDeck.deck_name" required/>
            </div>
            <div class="col-lg-6">
              <textarea placeholder="Description" ng-model="newDeck.description" class="form-control" cols="10" required></textarea>
            </div>
          </div>
          <br />
          <hr />
          <div ng-repeat="newCard in newDeck.cards">
            <br />
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Question" ng-model="newCard.question" required/>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Answer" ng-model="newCard.answer" required/>
              </div>
              <br />
            </div>
            <br />
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Front Image (200x200)" ng-model="newCard.front_image" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Back Image (200x200)" ng-model="newCard.back_image" />
              </div>
              <br />
            </div>
          </div>
          <br />
          <a class="btn btn-md btn-success" ng-click="addQuestion()">Add Another Question</a>
          <br />
          <hr />
          <br />
          <div class="col-lg-3 col-lg-offset-9">
            <button class="btn btn-md btn-success" type="submit">Edit Deck</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
